
.notesForm {
    
}

.notesTextArea {
    width: calc(100% - 8px);
    margin-top: 20px;
}


.rightButton {
    position: absolute;
    right: 0px;
    margin-right: 10px;
}

.leftButton {
    position: absolute;
    left: 0px;
    margin-left: 10px;
}