

.receivablesTotalContainer {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.receivablesTotalContainer .title {
    margin-right: 10px;
}

.receivablesTotalContainer .total {
    border: solid 1px black;
    padding: 5px;
}
