<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="pageTitle">
      Receivables
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!--
      Date                  M L XL
      Case #              S M L XL
      Patient                   XL
      Diagnosis               L XL
      Origin                M L XL
      Dest             XS S M L XL
      Escort              S M L XL
      Company          XS S M L XL
      Invoiced         XS S M L XL
      Paid             XS S M L XL
  -->

  <ion-grid class="pageHolder">
      <ion-row class="listHeader" nowrap>
          <ion-col size-md="1"
                   size-lg="1"
                   size-xl="1" class="hidden-xs hidden-sm listColumnHeader">Date<span class="sorter">
                    <span class="top" (click)="sortAscending($event, 'firstDayOfTravel')">&#9650;</span>
                    <span class="bot" (click)="sortDescending($event, 'firstDayOfTravel')">&#9660;</span></span></ion-col>
          <ion-col size-sm="2" 
                   size-md="2"
                   size-lg="2"
                   size-xl="1" class="hidden-xs listColumnHeader">Case #<span class="sorter">
                    <span class="top" (click)="sortAscending($event, 'caseNumber')">&#9650;</span>
                    <span class="bot" (click)="sortDescending($event, 'caseNumber')">&#9660;</span></span></ion-col>
          <ion-col size-xl="1" class="hidden-xs hidden-sm hidden-md hidden-lg listColumnHeader">Patient</ion-col>
          <ion-col size-lg="2"
                   size-xl="2" class="hidden-xs hidden-sm hidden-md listColumnHeader">Diagnosis</ion-col>
          <ion-col size-md="1"
                   size-lg="1"
                   size-xl="1" class="hidden-xs hidden-sm listColumnHeader">Origin<span class="sorter">
                    <span class="top" (click)="sortAscending($event, 'originCity')">&#9650;</span>
                    <span class="bot" (click)="sortDescending($event, 'originCity')">&#9660;</span></span></ion-col>
          <ion-col size-xs="3" 
                   size-sm="2" 
                   size-md="1"
                   size-lg="1"
                   size-xl="1" class="listColumnHeader">Dest<span class="sorter">
                    <span class="top" (click)="sortAscending($event, 'destinationCity')">&#9650;</span>
                    <span class="bot" (click)="sortDescending($event, 'destinationCity')">&#9660;</span></span></ion-col>
          <ion-col size-sm="2" 
                   size-md="2"
                   size-lg="2"
                   size-xl="2" class="hidden-xs listColumnHeader">Escort<span class="sorter">
                    <span class="top" (click)="sortAscending($event, 'companyName')">&#9650;</span>
                    <span class="bot" (click)="sortDescending($event, 'companyName')">&#9660;</span></span></ion-col>
          <ion-col size-xs="3" 
                   size-sm="2" 
                   size-md="2"
                   size-lg="1"
                   size-xl="1" class="listColumnHeader">Company<span class="sorter">
                    <span class="top" (click)="sortAscending($event, 'companyName')">&#9650;</span>
                    <span class="bot" (click)="sortDescending($event, 'companyName')">&#9660;</span></span></ion-col>
          <ion-col size-xs="3" 
                   size-sm="2" 
                   size-md="2"
                   size-lg="1"
                   size-xl="1" class="listColumnHeader">Invoiced<span class="sorter">
                    <span class="top" (click)="sortAscending($event, 'quotedPrice')">&#9650;</span>
                    <span class="bot" (click)="sortDescending($event, 'quotedPrice')">&#9660;</span></span></ion-col>
          <ion-col size-xs="3" 
                   size-sm="2" 
                   size-md="1"
                   size-lg="1"
                   size-xl="1" class="listColumnHeader">Paid</ion-col>
      </ion-row>
      <ion-row *ngIf="unpaidCases.length == 0">
          <ion-col size="12">No Cases awaiting payment</ion-col>
      </ion-row>
      <ion-row *ngFor="let unpaidCase of unpaidCases; let n=index" class="listRow" nowrap> 
          <ion-col size-md="1"
                   size-lg="1"
                   size-xl="1" class="hidden-xs hidden-sm listCell">{{ unpaidCase.firstDayOfTravel | date:'shortDate' }}</ion-col>
          <ion-col size-sm="2" 
                   size-md="2"
                   size-lg="2"
                   size-xl="1" class="hidden-xs listCell">{{ unpaidCase.caseNumber }}</ion-col>
          <ion-col size-xl="1" class="hidden-xs hidden-sm hidden-md hidden-lg listCell">{{ unpaidCase.patientFirstName | slice:0:1 }} {{ unpaidCase.patientLastName }}</ion-col>
          <ion-col size-lg="2"
                   size-xl="2" class="hidden-xs hidden-sm hidden-md listCell">{{ unpaidCase.diagnosis }}</ion-col>
          <ion-col size-md="1"
                   size-lg="1"
                   size-xl="1" class="hidden-xs hidden-sm listCell">{{ unpaidCase.originCity }}</ion-col>
          <ion-col size-xs="3" 
                   size-sm="2" 
                   size-md="1"
                   size-lg="1"
                   size-xl="1" class="listCell">{{ unpaidCase.destinationCity }}</ion-col>
          <ion-col size-sm="2" 
                   size-md="2"
                   size-lg="2"
                   size-xl="2" class="hidden-xs listCell">{{ unpaidCase.escorts[0].name }}</ion-col>
          <ion-col size-xs="3" 
                   size-sm="2" 
                   size-md="2"
                   size-lg="1"
                   size-xl="1" class="listCell">{{ unpaidCase.companyName }}</ion-col>
          <ion-col size-xs="3" 
                   size-sm="2" 
                   size-md="2"
                   size-lg="1"
                   size-xl="1" class="listCell">{{ unpaidCase.quotedPrice }}</ion-col>
          <ion-col size-xs="3" 
                   size-sm="2" 
                   size-md="1"
                   size-lg="1"
                   size-xl="1" class="listCell">
            <ion-toggle checked="false" (ionChange)="toggleCasePaid($event, unpaidCase.caseID, n)"></ion-toggle>
          </ion-col>
      </ion-row>
  </ion-grid>

  <div class="receivablesTotalContainer">
    <span class="title">TOTAL</span><span class="total">{{ totalReceivables | currency }}</span>
  </div>

</ion-content>


  
  